.main-container{
  width: 100%;
  height: 100%;
  position: relative;
}

.skip {
  background: white;
  color: black;
  font-family: helvetica;
  font-size: 20px;
  font-weight: bold;
  text-align: center;
  top: 12%;
  border: 2px solid black
}

.home {
  background: lightslategrey;
  color: white;
  font-family: helvetica;
  font-weight: bold;
  font-size: 20px;
  text-align: center;
  border: 2px solid black;
  height: 25px;
  width: 60%;
  position: absolute;
  height: 4%;
  top: 5%;
  right: 50%;
  margin-bottom: 8%;
}

.back{
  height: 100%;
  width: 100%;
  background: cover;
  z-index: -2
}

.reply {
  background: white;
  border: 2px solid black;
  color: black;
  font-family: helvetica;
  font-size: 30px;
  font-weight: bold;
  text-align: center;
  background: white;
  width: 60%;
  position: absolute;
//  bottom: 40px;

  /* left: 50%;
  transform: translateX(-50%);
  width: 80%; */

  //top: 50%;
  bottom: 5%;
  left: 50%;
  z-index: 9999;
  transform: translateX(-50%);
  //transform: translateX(-50%) translateY(-50%);
}

.reply a {
  padding: 10px;
}

.btn-small {
  height: 25px;
  width: 60%;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}
.container{
  width: 100%;
  height: 50%;
  top: 50%;
  //left: 50%;
  z-index: 9999;
  position: absolute;
  transform: translateX(-50%);
  transform: translateY(-50%);
}
.box {
  width: 240px;
  height: 240px;
  color: white;
  padding: 15px;
  margin: auto;
  font-size: 20px;
  font-family: helvetica;
  font-weight: bold;
  line-height: 22px;
  border: 2px solid black;

}

.box-1 {
  background: tomato;
  position: absolute;
  z-index: 4;
  right: 60px;
  top: 10px
}

.box-2 {
  background: pink;
  position: absolute;
  right: 50px;
  z-index: 3;
  top: 20px
}

.box-3 {
  background: salmon;
  position: absolute;
  right: 40px;
  z-index: 2;
  top: 30px
}
.box-4 {
  background: indianred;
  position: absolute;
  right: 30px;
  z-index: 1;
  top:40px
}

/*.test {
  background: yellow;
}*/

/* DON'T DELETE THIS */

html {

}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  margin: 0;
}

/* Clear Float */

.cf:before,
.cf:after {
  content: " ";
  /* 1 */
  display: table;
  /* 2 */
}

.cf:after {
  clear: both;
}

.cf {
  *zoom: 1;
}
